*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
}

:root{
    --bg-color: #191919;
    --second-bg-color:#101010;
    --main-color: #e9204f;
    --text-colour: #fff;
    --second-colour: #e4e4e4;
    --other-colour: #c6c9d8bf;

    --h1-font: 7rem;
    --h2-font: 3.5rem;
    --p-font: 1.1rem;
}

body{
    color: var(--text-colour);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}
.logo img{
    width: 100%;
    height: auto;
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight: 600;
    margin: 0 40px;
    transition: all ease .40s;
}
.navlist a:hover{
    color: var(--main-color);
}
#menu-icon{
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
section{
    padding: 120px 19% 100px;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: url(--img/profile.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text h3{
    color: var(--second-color);
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    word-spacing: 10px;
}
.hero-text h1{
    font-family: 'Dosis', sans-serif;
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.hero-text h4{
    color: var(--second-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}
.btn{
    display: inline-block;
    padding: 16px 45px;
    background: var(--main-color);
    content: var(--text-color);
    font-size: var(--p-font);
    font-weight: 600;
    border: 2px solid var(--main-color);
    transition: all ease .50s;

}
.btn:hover{
    transform: translateX(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}

header.sticky{
    padding: 15px 11%;
    background: #000;
    border-bottom: 1px solid #4e5055;
}
.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px ,auto));
    align-items: center;
    gap: 4rem;
}

.skills{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px ,auto));
    align-items: center;
    gap: 4rem;
}
.skills-box{
    padding: 45px 30px;
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all ease .50s;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px ,auto));
    align-items: center;
    gap: 4rem;
}
.end{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px ,auto));
    align-items: center;
    gap: 4rem;
}